{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
    <h3>{{ quote["name"] }} - {{ quote["symbol"] }}</h3>
    <h3>{{ quote["price"] }}</h3>
    <br>
    <br>
    <br>
    <br>
    <h4>Search another Security</h4>
    <form action="/quote" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="symbol" placeholder="Enter Symbol" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Search</button>
    </form>
{% endblock %}
