{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
    <h5>This is a demo website, you need to create an account to access to use all the features.</h5>
    <br>
    <form action="/register" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="username" placeholder="Enter Username" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="password" placeholder="Enter Password" type="password">
        </div>
        <div class="form-group">
            <input class="form-control" name="password_check" placeholder="Re-Enter Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}
